﻿@using Common.Enum
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="~/Scripts/IEValidation.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/handlebars")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/handlebars.js")


</head>
<body>

    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-3 col-xs-12">

            <div class="left-menu">
                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">

                            <ul class="nav navbar-nav">
                                @if (Session["User"] == null)
                                {
                                    <li>
                                        @Html.ActionLink(Resources.Resource.Login, "Authentification", "Account")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Resources.Resource.SingUp, "Registration", "Account")
                                    </li>
                                }
                                else
                                {
                                    string q = ((Model.DTO.UserDTO)Session["User"]).UserName;

                                    <li>
                                        <a href="/Home/Index"> <img src="~/Images/@ViewBag.ImageName" data-toggle="tooltip" title="@q" class="img-rounded" style="max-width: 40px; max-height: 40px; " /></a>

                                    </li>

                                    <li>
                                        @Html.ActionLink(Resources.Resource.LogOut, "LogOut", "Account")
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                @*Links menu by users role*@
                <div class="list-group">
                    <ul class="nav">
                        @*@if (ViewBag.UserRoleId == (int)AvailableRoles.Administrator || ViewBag.UserRoleId == (int)AvailableRoles.Operator)
                            {
                                <li class="list-group-item">@Html.ActionLink("Districts menu", "DistrictEditor", "Settings")</li>
                                <li class="list-group-item">@Html.ActionLink(@Resources.Resource.UserMenu, "UsersMenu", "Settings")</li>
                                <li class="list-group-item">@Html.ActionLink(@Resources.Resource.Tarifes, "Index", "Tarif")</li>
                                <li class="list-group-item">@Html.ActionLink("Orders", "Index", "Order")</li>
                            }*@
                    </ul>
                </div>

                @*Links menu by users role*@
                <div class="list-group">
                    <ul class="nav">
                        @if (ViewBag.UserRoleId == (int)AvailableRoles.Administrator || ViewBag.UserRoleId == (int)AvailableRoles.Operator)
                        {
                            <li class="list-group-item">@Html.ActionLink(Resources.Resource.Districts, "DistrictEditor", "Settings")</li>
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.UserMenu, "UsersMenu", "Settings")</li>
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.Tarifes, "Index", "Tarif")</li>
                            <li class="list-group-item">@Html.ActionLink("Orders", "Index", "Order")</li>
                        }

                        @if (ViewBag.UserRoleId == (int)AvailableRoles.Client || ViewBag.UserRoleId == (int)AvailableRoles.Administrator || ViewBag.UserRoleId == (int)AvailableRoles.Driver || ViewBag.UserRoleId == (int)AvailableRoles.Operator || ViewBag.UserRoleId == (int)AvailableRoles.ReportViewer)
                        {
                            <li class="list-group-item">@Html.ActionLink("My Account", "Index", "User")</li>}
                        @if (ViewBag.UserRoleId == (int)AvailableRoles.Driver)
                        {
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.CarEditor, "CarPark", "Cars")</li>}
                        @if (ViewBag.UserRoleId == (int)AvailableRoles.Driver)
                        {
                            <li class="list-group-item">@Html.ActionLink(Resources.Resource.PersonalCabinet, "Index", "Driver")</li>}
                        @if (ViewBag.UserRoleId == (int)AvailableRoles.Client)
                        {
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.TitleLeftMenuUserAddress, "Index", "Address")</li>
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.UserPage, "Index", "UserPage")</li>
                            <li class="list-group-item">@Html.ActionLink("[Demo Page]", "Iframe", "UserPage") </li>
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.ClientDriveHistory, "ShowHistory", "DriveClientHistory")</li>
                        }
                        @if (ViewBag.UserRoleId == (int)AvailableRoles.Operator || ViewBag.UserRoleId == (int)AvailableRoles.Administrator)
                        {
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.SetVIPStatusPage, "SetVIPStatus", "Settings")</li>
                            <li class="list-group-item">@Html.ActionLink(@Resources.Resource.WorkShift, "ViewWorkShifts", "Administration")</li>
                        }

                    </ul>
                </div>
            </div>


        </div>

        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
            @RenderBody()
        </div>
    </div>

    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">


                    <div class="lang">
                        <ul class="nav navbar-nav">
                            @Html.Partial("_Language")
                        </ul>
                    </div>


                </div>
            </div>
        </footer>

    </div>


    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

</body>

</html>