﻿@using Common.Enum
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/handlebars.js")

</head>
<body onload="initialize()">

    <div class="row">
        <div class="navbar navbar-inverse" id="menuWrap">
            @RenderSection("Menu", false)
        </div>
        <noscript class="noscript2">
            <div id="div100">
                <p id="mapAlert1">
                    Unfortunately due to disabling scripts of your browser, some options may be not supported.
                </p>
                <p id="mapAlert2">
                    Please change settings in your browser or call directly +(038)055-45-54 to ORDER a TAXI!
                </p>
            </div>
        </noscript>
    </div>


    @RenderSection("body", false)


    <script>
    var picturePath = '@Url.Content("~/Content/Picture/UserMapIcons/")';
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/GoogleMapJS/GoogleMapUserPage")
    @Styles.Render("~/Content/UserMenu/UserMenuMaps");
    @RenderSection("scripts", required: false)


    <script>


        function receiver(pos1) {
            //alert(pos1.data);


            var trusteddomain = '*';
            if (pos1.origin != "https://www.google.com") {
                var msgcontent = pos1.data;
                console.log(pos1.data);
                var pos = {
                    lat: Number(pos1.data.lat),
                    lng: Number(pos1.data.lng)
                };
                ShowFakeCoord(pos);
            }
        }

        window.addEventListener('message', receiver, false);

    </script>

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

</body>

</html>
