﻿@using Common.Helpers
@model Model.DTO.UserDTO

@{
    ViewBag.Title = Resources.Resource.AddNewUser;
}

<h2>@Resources.Resource.AddNewUser</h2>
<form method="post">
    <table class="table">
        <tr><td>@Resources.Resource.UserName</td>
            <td><input type="text" class="form-control input-lg" name="UserName" placeholder="@Resources.Resource.UserName"></td>
        </tr>
        <tr><td>@Resources.Resource.Password</td>
            <td><input type="password" class="form-control input-lg" name="Password" placeholder="@Resources.Resource.Password"></td>
        </tr>
        <tr><td>@Resources.Resource.Email</td>
            <td><input type="email" class="form-control input-lg" name="Email" placeholder="@Resources.Resource.Email"></td>
        </tr>
        <tr><td>@Resources.Resource.Role</td>
            <td>
                 <select class="form-control input-lg" name="RoleId">
                     @foreach (var pair in EnumHelper.GetRoles())
                      {
                          <option value="@pair.Key">@pair.Value</option>
                      }
                 </select>
            </td>
        </tr>
    </table>
   <font color="red">@Html.ValidationSummary()</font>
    <input class="btn btn-default" type="submit" value="@Resources.Resource.AddNewUser" style="margin: 0 auto; width:200px" />
</form>