﻿
@{
    ViewBag.Title = "ViewWorkShifts";
    //	string username = (Session["user"] as Model.DTO.UserDTO).UserName;
}
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
    var imagePath ="@Url.Content("~/Content/Picture/DriverIcons")";
</script>

<style>
    .bold{
        font-weight:bold;
    }
</style>


@Scripts.Render("~/Scripts/DriverMap.js")
<div>
		<div class="page-header">
			<h1>@Resources.Resource.Greeting,<small></small></h1>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">@Resources.Resource.WorkShift</h3>
			</div>
			<div class="panel-body" id="map" style="
            height: 400px;">

			</div>
			<div class="table-list">
				<div class="table-responsive">
					<table class="table table-striped" id="DrvsTable">
						<thead>
							<tr class="info">
								<th>
									@Resources.Resource.Driver
								</th>
								<th>
									@Resources.Resource.WorkStarted
								</th>
                                <th>
                                    @Resources.Resource.LastUpdate
                                </th>
							</tr>
						</thead>
						<tbody id="DrvsCont">
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>
