﻿
.modal-header-info {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: white;
}

.modal-header-success {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
}

.modal-header-warning {
	background-color: #f0ad4e;
	border-color: #eea236;
	color: white;
}

.modal-header-danger {
	background-color: #c9302c;
	border-color: #ac2925;
	color: white;
}

.modal-footer-info {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: white;
	border-radius: 6px;
}

.modal-footer-success {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
	border-radius: 6px;
}

.modal-footer-warning {
	background-color: #f0ad4e;
	border-color: #eea236;
	color: white;
	border-radius: 6px;
}

.modal-footer-danger {
	background-color: #c9302c;
	border-color: #ac2925;
	color: white;
	border-radius: 6px;
}

.td-ench {
	text-align: left;
	vertical-align: central;
	font-size: large;
}

#p-enchenced-central {
	text-align: center;
	vertical-align: central;
	font-size: x-large;
}

#p-enhanced {
	margin: 0px 0px 0px 0px;
}

#data-dismiss-btn-enhanced {
	color: white;
}

.modal-body-yellow {
	background-color: lightyellow;
}

#carTableResponsive {
	overflow-x: visible;
}

#carlink {
	font-weight: bold;
}

#districtTableResponsive{
	overflow-x: visible;
}
