/*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}


.lang {
 height: auto;
     width: 50%;
    margin: 0 auto;
}

    .lang > ul{
     margin-left: 35%;       
    }

    .lang > ul > li {
     
        display:inline-block;
    }

        .lang > ul.nav > a {
        width: 50%;
        margin:0 auto;
        
    }

.language {
margin: 0 auto;
}

.ActivLang{
    color:black;
    font-weight:bold;
}

.qwert img{
width:100%;

}

.largeIcon {
    font-size:25px;
    padding-left:30px;
    padding-right:35px;
}

a:hover {
text-decoration:none;
}

.slider-controls > .well {
    margin-top:60px;
}

#socialCont {
align-content:center;
}

#socialCont>a {
padding-left:10px;
}

.topLogo { 
margin-bottom: 25px;
}

/*Red Alarm for ValidationSummary
    ------------------------------*/
div.field-validation-error{
 color:#f00;
}
div.field-validation-valid {
display:none;
}
div.input-validation-error{
    border:1px solid #f00; background-color: #fee;
}
div.validation-summary-errors{
    font-weight:bold;color:#f00;
}

div.validation-summary-valid {
display:none;
}

input{
    margin:3px;
}


.btform input{
    -webkit-appearance: none;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: auto;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 32px;
letter-spacing: normal;
line-height: 24px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
margin-top: 3px;
padding-bottom: 0px;
padding-left: 16px;
padding-right: 16px;
padding-top: 0px;
text-align: start;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
transition-delay: 0s, 0s;
transition-duration: 0.15s, 0.15s;
transition-property: border-color, box-shadow;
transition-timing-function: ease-in-out, ease-in-out;
word-spacing: 0px;
writing-mode: lr-tb;
-webkit-writing-mode: horizontal-tb;
}
.btform select{
    -webkit-appearance: menulist-button;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: auto;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 32px;
letter-spacing: normal;
line-height: 24px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
margin-top: 3px;
padding-bottom: 1px;
padding-left: 1px;
padding-right: 1px;
padding-top: 1px;
width:180px;
text-align: start;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
transition-delay: 0s, 0s;
transition-duration: 0.15s, 0.15s;
transition-property: border-color, box-shadow;
transition-timing-function: ease-in-out, ease-in-out;
word-spacing: 0px;
writing-mode: lr-tb;
-webkit-writing-mode: horizontal-tb;
}
.btform input[type="submit"], .btform button
{
    -webkit-appearance: none;
-webkit-rtl-ordering: logical;
-webkit-user-select: none;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 34px;
letter-spacing: normal;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;
text-align: center;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
width: 200px;
word-spacing: 0px;
writing-mode: lr-tb;
-webkit-writing-mode: horizontal-tb;

}

#loading {
margin-left:46%;
}

/*If Javascript Enable!*/
        body {
            position: relative;
        }

        .noscript {
            width: 100%;
            height: 100%; /* will cover the text displayed when javascript is enabled*/
            z-index: 100000; /* higher than other z-index */
            position: absolute;
        }

            .noscript #div100 {
                display: block;
                height: 100%;
                background-color: white;
            }
            .noscript #alert {
              height: 100px;
               
            }
          .noscript #div100 #msger {
                  font-size:large;
               font-style:italic;
               color:#380D09;
            }
.noscript2 {
            width: 100%;
            height: 100%; /* will cover the text displayed when javascript is enabled*/
            z-index: 100000; /* higher than other z-index */
            position: absolute;
            background-color:#666;
}

            .noscript2 #div100 #mapAlert1 {
          color: #B4EAE8; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; margin-left:20px;
            }
    .noscript2 #div100 #mapAlert2 {
     color: #B4EAE8; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; margin-left:20px;
    }
/*------------------------------------------------------------*/

.btn-group .fixMargin {
margin:0px;
}

#loading{
    display:none;
}
.phoneModal{
    color: red;
}

.WbtnGroup{
    padding-left:15px;
    padding-right:15px;
    padding-top:2px;
}
.Wbtn{
    color:  white;
    background-color: #222;
    border: 0px;
    border-radius: 0px;
}

.address{
    font-size:20px;
    text-decoration:none;
   color:white;
}

.login-btn{
    padding-right: 5px;
}
#reg-btn{
    width: 250px;
}