﻿@model IEnumerable<Model.DTO.OrderDTO>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Messages
-->
@Styles.Render("~/Content/sweetalert2")
<link rel="stylesheet" href="~/Content/BootstrapTb/BootstrapTb.css" type="text/css" />


<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/sweetalert2.min.js"></script>
<script src="~/signalr/hubs"></script>



<div class="main">
    <input id="currentUserId" type="hidden" value="@User.Id" />
</div>

<button class="btn btn-primary pull-right" id="showform">@Resources.Resource.MessageToDrivers</button> <br/><br/>


<!--
    End messages
-->
<script>
    DeniedRequest = '@Url.Action("DeniedRequest", "Order")'
    SetOrderToDriver = '@Url.Action("SetOrderToDriver", "Order")'
</script>

@* New orders table *@
<script id="orderTemplate" type="text/x-handlebars-template">   
            {{#each objects}}
            <tr>
                <td>{{FirsName}}</td>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn btn-success ordrerAction" data-orderid="{{OrderId}}" data-status="1" id="submitOrdering{{OrderId}}">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger ordrerAction" data-orderid="{{OrderId}}" data-status="2" id="deniedOrdering{{OrderId}}">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
            {{#if object}}
            <tr>
                <td>{{object.FirstName}}</td>
                <td>{{object.PeekPlace}}</td>
                <td>{{object.DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn btn-success ordrerAction" data-orderid="{{object.Id}}" data-status="1" id="submitOrdering{{object.Id}}">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger ordrerAction" data-orderid="{{object.Id}}" data-status="2" id="deniedOrdering{{object.Id}}">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/if}}
</script>

@* Waiting Orders *@
<script id="waitingOrderTemplate" type="text/x-handlebars-template">
            {{#each waitingOrders}}
            <tr id="{{OrderId}}">
                <td>{{FirsName}}</td>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn btn-danger ordrerAction" data-orderid="{{OrderId}}" data-status="5" id="waitingOrders{{OrderId}}">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
    {{#if waitingOrder}}
	<tr id="{{waitingOrder.Id}}">
		<td>{{waitingOrder.FirstName}}</td> @*How to extract First Name*@
		<td>{{waitingOrder.PeekPlace}}</td>
		<td>{{waitingOrder.DropPlace}}</td>
		<td>{{PrettifyDate OrderTime}}</td>
		<td>
            <button class="btn btn-danger ordrerAction" data-orderid="{{waitingOrder.Id}}" data-status="5" id="waitingOrders{{waitingOrder.Id}}">@Resources.Resource.Denied</button>
		</td>
	</tr>
        {{/if}}
    </script>

    @* DriverRequest table *@
<script id="driverRequestTemplate" type="text/x-handlebars-template">
            {{#each requests}}
            <tr>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{request.DriverName}}</td>
                <td>{{WaitingTime}}</td>
                <td hidden>{{DriverId}}</td>
                <td>
                    <button class="btn btn-success ordrerAction" data-orderid="{{OrderId}}" data-status="4" id="submitDrRequest{{OrderId}}">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger ordrerAction" data-orderid="{{OrderId}}" data-status="6" id="deniedDrRequest{{OrderId}}">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
            {{#if request}}
    <tr>
        <td>{{request.PeekPlace}}</td>
        <td>{{request.DropPlace}}</td>
        <td>{{request.DriverName}}</td>
        <td>{{request.WaitingTime}}</td>
        <td hidden>{{request.DriverId}}</td>
        <td>
            <button class="btn btn-success ordrerAction sub{{request.Id}}" data-orderid="{{request.Id}}" data-status="4" id="submitDrRequest{{request.Id}}">@Resources.Resource.Confirm</button>
            <button class="btn btn-danger ordrerAction deny{{request.Id}}" data-orderid="{{request.Id}}" data-status="6" id="deniedDrRequest{{request.Id}}">@Resources.Resource.Denied</button>
        </td>
    </tr>
    {{/if}}
</script>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="OperatortbNames" style="text-align:center;">@Resources.Resource.NewOrders</h3>
    </div>

    <table class="table table-hover">
        <tr class="historyTh">
            <th>@Resources.Resource.Name</th>
            <th>@Resources.Resource.PeekPlace</th>
            <th>@Resources.Resource.DropPlace</th>
            <th>@Resources.Resource.OrderTime</th>
            <th>@Resources.Resource.Action</th>
        </tr>
        <tbody id="orderContent"></tbody>
    </table>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="OperatortbNames" style="text-align:center;">@Resources.Resource.WaitingOrders</h3>
    </div>

    <table class="table table-hover">
        <tr class="historyTh">
            <th>@Resources.Resource.Name</th>
            <th>@Resources.Resource.PeekPlace</th>
            <th>@Resources.Resource.DropPlace</th>
            <th>@Resources.Resource.OrderTime</th>
            <th>@Resources.Resource.Action</th>
        </tr>
        <tbody id="waitingOrdersContent"></tbody>
    </table>
</div>


<div class="panel panel-info">
    <div class="panel-heading" style="text-align:center;">
        <h3 class="driverRequest">@Resources.Resource.ConfirmedByDrivers</h3>
    </div>

    <table class="table table-hover">
        <tr class="historyTh">
            <th>@Resources.Resource.PeekPlace</th>
            <th>@Resources.Resource.DropPlace</th>
            <th>@Resources.Resource.Driver</th>
            <th>@Resources.Resource.WaitingTime</th>
            <th hidden></th>
            <th>@Resources.Resource.Action</th>
        </tr>
        <tbody id="driverRequest"></tbody>
    </table>
</div>

<script>
    var LocStrings = {
        message: '@Resources.Resource.MessageFromDriver',
        InputYourMessage: '@Resources.Resource.InputYourMessage',
        MessageHasBeenSent: '@Resources.Resource.MessageHasBeenSent',
        Cancel : '@Resources.Resource.Cancel'
    }
</script>

    <script src="~/Scripts/HandlebarsCustomHelpers.js"></script>
    <script type="text/javascript" src="~/Scripts/OperatorCommand/OperatorCommands.js"></script>
