﻿@model IList<Model.DTO.TarifDTO>

@{
 int number = 1;
}
<table class="table" id="Tarifes">

    <tr>
        <td>
            @Html.Label(@Resources.Resource.Number)
        </td>
        <td>
            @Html.Label(@Resources.Resource.Name)
        </td>

        <td>
            @Html.Label(@Resources.Resource.MinimalPrice)
        </td>

        <td>
            @Html.Label(@Resources.Resource.StartPrice)
        </td>
        <td>
            @Html.Label(@Resources.Resource.WaitingCost)
        </td>

        <td>
            @Html.Label(@Resources.Resource.OneMinuteCost)
        </td>

        <td>
            @Html.Label(@Resources.Resource.DistrictName)
        </td>

        <td>
            @Html.Label(@Resources.Resource.IsIntercity)
        </td>

        <td>
            @Html.Label(@Resources.Resource.IsStandart)
        </td>

    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>@Html.Label((number++).ToString())  </td>
            <td>@Html.DisplayFor(x => i.Name)</td>
            <td>@Html.DisplayFor(x => i.MinimalPrice)</td>
            <td>@Html.DisplayFor(x => i.StartPrice)</td>
            <td>@Html.DisplayFor(x => i.WaitingCost)</td>
            <td>@Html.DisplayFor(x => i.OneMinuteCost)</td>
            <td>@Html.DisplayFor(x => i.District.Name)</td>
            <td>@Html.DisplayFor(x => i.IsIntercity)</td>
            @if (i.IsStandart)
            { 
                <td><span title="This is the standart tariph">*</span></td>
            }
            else
            {
                <td></td>
            }
            <td>@Ajax.ActionLink(@Resources.Resource.editString, "Edit", new { id = i.id },
            new AjaxOptions { UpdateTargetId = "Test", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnSuccess = "EditMethod", OnComplete="HideMethod", LoadingElementId="loading" }
            , new { @class = "btn btn-default Edit" })</td>
            @if (!i.IsStandart)
            {
                 <td>@Ajax.ActionLink(@Resources.Resource.deleteString, "Edit", new { id = i.id },
            new AjaxOptions { UpdateTargetId = "Test", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnSuccess = "DeleteMethod", OnComplete="HideMethod", LoadingElementId="loading" }
            , new { @class = "btn btn-default Delete" })</td>
            }
        </tr>
    }
</table>


<script>

    $(".Edit, .Delete").on("click", function () {
        $("#myModal").modal("show");
    })

</script>