﻿@model MainSaite.Models.CreateTarifModel

@{
    ViewBag.Title = "Create";
}

<div class="Name"><h2>@Resources.Resource.CreateTarif</h2></div>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td>@Html.Label(@Resources.Resource.Name)</td>
            <td>@Html.EditorFor(x => x.Tarif.Name)</td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.MinimalPrice)</td>
            <td>@Html.EditorFor(x => x.Tarif.MinimalPrice)</td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.OneMinuteCost)</td>
            <td>@Html.EditorFor(x => x.Tarif.OneMinuteCost)</td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.StartPrice)</td>
            <td>@Html.EditorFor(x => x.Tarif.StartPrice)</td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.WaitingCost)</td>
            <td>@Html.EditorFor(x => x.Tarif.WaitingCost)</td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.IsIntercity)</td>
            <td>@Html.EditorFor(x => x.Tarif.IsIntercity)</td>
        </tr>

        <tr class="DistrictList">
            <td>@Html.Label(@Resources.Resource.District)</td>
            <td>@Html.DropDownList("tarif.DistrictId", new SelectList(Model.Districts, "Id", "Name", "Id"), new { @class = "list" })</td>
        </tr>

    </table>


        <input type="submit" class="btn btn-success" name="Ok" value="Ok" />
    <input type="button" class="btn btn-primary" name="Cansel" value="Cansel" />
}

<script>
    $(document).ready(function () {

        if ($('#Tarif_IsIntercity').is(':checked')) {
            $(".DistrictList").attr("hidden", true)
        } else {
            $(".DistrictList").removeAttr("hidden");
        }

        $('#Tarif_IsIntercity').change(function () {
            if ($('#Tarif_IsIntercity').is(':checked')) {
                $(".DistrictList").attr("hidden", true)
            } else {
                $(".DistrictList").removeAttr("hidden");
            }
        });


    })
</script>