﻿@model MainSaite.Models.CreateTarifModel

@{
    ViewBag.Title = "Edit";
}

<div id="Name">
    <h2>[Edit Tarif]</h2>
</div>

@using (Html.BeginForm())
{
    <table class="table">
        @Html.HiddenFor(x => x.Tarif.id)
        <tr>
            <td>@Html.Label("[Tarif Name]")</td>
            <td>@Html.EditorFor(x => x.Tarif.Name)</td>
        </tr>

        <tr>
            <td>@Html.Label("[Minimal Price]")</td>
            <td>@Html.EditorFor(x => x.Tarif.MinimalPrice)</td>
        </tr>

        <tr>
            <td>@Html.Label("[One minute cost]")</td>
            <td>@Html.EditorFor(x => x.Tarif.OneMinuteCost)</td>
        </tr>

        <tr>
            <td>@Html.Label("[Start price]")</td>
            <td>@Html.EditorFor(x => x.Tarif.StartPrice)</td>
        </tr>

        <tr>
            <td>@Html.Label("[Waiting Cost]")</td>
            <td>@Html.EditorFor(x => x.Tarif.WaitingCost)</td>
        </tr>

        <tr>
            <td>@Html.Label("[Is Intercity]")</td>
            <td>@Html.EditorFor(x => x.Tarif.IsIntercity)</td>
        </tr>

        <tr class="IsStandart">
            <td>@Html.Label("[Is Standart]")</td>
            <td>@Html.EditorFor(x => x.Tarif.IsStandart)</td>
        </tr>

        <tr class="DistrictList">
            <td>@Html.Label("[Району]")</td>
            <td>@Html.DropDownList("tarif.DistrictId", new SelectList(Model.Districts, "Id", "Name", "Id"), new { @class = "list" })</td>
        </tr>

    </table>


    <input type="submit" class="btn btn-success" name="Ok" value="Ok" />
    <input type="button" class="btn btn-primary" name="Cansel" value="Cansel" />
}

<script>
    $(document).ready(function () {

        $('.IsStandart').css("display", "none");

        if ($('#Tarif_IsIntercity, #Tarif_IsStandart').is(':checked')) {
            $(".DistrictList").attr("hidden", true)
        } else {
            $(".DistrictList").removeAttr("hidden");
        }

        $('#Tarif_IsIntercity, #Tarif_IsStandart').change(function () {
            if ($('#Tarif_IsIntercity, #Tarif_IsStandart').is(':checked')) {
                $(".DistrictList").attr("hidden", true)
            } else {
                $(".DistrictList").removeAttr("hidden");
            }
        });


    })
</script>