﻿@model IList<Model.DTO.TarifDTO>

@{
    ViewBag.Title = "Index";
    int number = 1;
}

@Html.ActionLink(@Resources.Resource.addString, "Create")
<br />

@Html.Partial("_ShowTarifTable", Model)

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header modal-header-info">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Resources.Resource.editString</h4>
        </div>
      <div class="modal-body">
   <div id="loading">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
</div>
          <div id="content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<script id="TarifesEdit" type="text/x-handlebars-template">
		@* {{#each Tarif}}*@
    @using (Ajax.BeginForm("Edit", new { controller = "Tarif", action = "Edit" }, new AjaxOptions { UpdateTargetId = "Tarifes", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "Close" }))
    {
    <table class="table">
        <input type="hidden" name="Tarif.Id" value={{Tarif.id}}>
        <tr>
            <td>@Html.Label(@Resources.Resource.Name)</td>
            <td><input type="text" name="Tarif.Name" value= {{Tarif.Name}} required /></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.MinimalPrice)</td>
            <td><input type="number" step="any" name="Tarif.MinimalPrice" value={{Tarif.MinimalPrice}} required /></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.OneMinuteCost)</td>
            <td><input type="number" step="any" name="Tarif.OneMinuteCost" value={{Tarif.OneMinuteCost}} required /></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.StartPrice)</td>
            <td><input type="number" step="any" name="Tarif.StartPrice" value={{Tarif.StartPrice}} required /></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.WaitingCost)</td>
            <td><input type="number" step="any" name="Tarif.WaitingCost" value={{Tarif.WaitingCost}} required /></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.IsIntercity)</td>
      {{#if Tarif.IsIntercity}}
       <td><input type="checkbox" id="Tarif_IsIntercity" name="tarif.IsIntercity" checked="checked" value="true" /></td>
     {{else}}
                 <td><input type="checkbox" id="Tarif_IsIntercity" name="tarif.IsIntercity" value="true" /></td>
     {{/if}}
           
        </tr>

        <tr class="IsStandart">
            <td>@Html.Label(@Resources.Resource.IsStandart)</td>

     {{#if Tarif.IsStandart}}
               <td><input type="checkbox" id="Tarif_IsStandart" checked="checked" name="Tarif.IsStandart" value="true" /></td>
     {{else}}
                  <td><input type="checkbox" id="Tarif_IsStandart" name="Tarif.IsStandart" value="true" /></td>
     {{/if}}
        </tr>

        <tr class="DistrictList" id="DistrictList">
            <td>@Html.Label(@Resources.Resource.District)</td>
            <td>
                 <select name="tarif.DistrictId", size="1">
                    {{#each Districts}}
                     <option value={{Id}}>{{Name}}</option>
                    {{/each}}
                </select>
    
            </td>
        </tr>

    </table>
        <input type="submit" value="OK" class="btn btn-success" />
    }
	@*{{/each}}*@
</script>

<script id="TarifesDelete" type="text/x-handlebars-template">
		@* {{#each Tarif}}*@

       <table class="table">
        <tr>
            <td>@Html.Label(@Resources.Resource.Name)</td>
            <td><span> {{Tarif.Name}} </span></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.MinimalPrice)</td>
            <td><span>  {{Tarif.MinimalPrice}} </span></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.OneMinuteCost)</td>
            <td><span>{{Tarif.OneMinuteCost}}</span></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.StartPrice)</td>
            <td><span> {{Tarif.StartPrice}}</span></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.WaitingCost)</td>
            <td><span> {{Tarif.WaitingCost}} </span></td>
        </tr>

        <tr>
            <td>@Html.Label(@Resources.Resource.IsIntercity)</td>
      {{#if Tarif.IsIntercity}}
       <td><input type="checkbox" id="Tarif_IsIntercity" name="tarif.IsIntercity" checked="checked" value="true" disabled /></td>
     {{else}}
                 <td><input type="checkbox" id="Tarif_IsIntercity" name="tarif.IsIntercity" value="true"  disabled /></td>
     {{/if}}
           
        </tr>

        <tr class="IsStandart">
            <td>@Html.Label(@Resources.Resource.IsStandart)</td>

     {{#if Tarif.IsStandart}}
               <td><input type="checkbox" id="Tarif_IsStandart" checked="checked" name="Tarif.IsStandart" value="true"  disabled /></td>
     {{else}}
                  <td><input type="checkbox" id="Tarif_IsStandart" name="Tarif.IsStandart" value="true"  disabled /></td>
     {{/if}}
        </tr>

        <tr class="DistrictList" id="DistrictList">
            <td>@Html.Label(@Resources.Resource.District)</td>
            <td>

                   <span> {{Tarif.District.Name}}</span>

            </td>
        </tr>

    </table>

    @using (Ajax.BeginForm(@Resources.Resource.deleteString, new { controller = "Tarif", action = "Delete" }, new AjaxOptions { UpdateTargetId = "Tarifes", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "Close" }))
    {

        <input type="hidden" name="id" value={{Tarif.id}}>
  
        <input type="submit" value="OK" class="btn btn-success" />
    }
	@*{{/each}}*@
</script>

<script src="~/Scripts/Tarif/Tarif.js"></script>