﻿@model IEnumerable<Model.DTO.OrderDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/handlebars.js" type="text/javascript"></script>
<link href="~/Content/ClientDriveHistory/ClientDrHistTbl.css" rel="stylesheet" />
<script src="~/Scripts/ClientDrHistory/ClientDrHistory.js"></script>
<script src="~/Scripts/HandlebarsCustomHelpers.js"></script>

<script id="driveHistotyList" type="text/x-handlebars-template">
    <table class="driveClHistTb">
        <thead>
            <tr>
                <th>@Resources.Resource.Data</th>
                <th>@Resources.Resource.PeekPlace</th>
                <th>@Resources.Resource.DropPlace</th>
                <th>@Resources.Resource.Runtime</th>
                <th>@Resources.Resource.Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each objects}}
            <tr>
                <td>
                    {{PrettifyDate OrderTime}}
                </td>
                <td>
                    {{PeekPlace}}
                </td>
                <td>
                    {{DropPlace}}
                </td>
                <td>
                    {{RunTime}}
                </td>
                <td>
                    {{TotalPrice}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>


<center class="bodyTbl">
    <h1 id="historyHeader">@Resources.Resource.ClientDriveHistory</h1>

    <div id="content"></div>

</center>