﻿ .bodyTbl {
    background: #fafafa;
    color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
    }
 
    .driveClHistTb {
    background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 100%;
    font-size:medium;
    }
        .driveClHistTb th {
            background-color:#999;
            border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
        
        }
       .driveClHistTb th:after {
	background: linear-gradient(rgba(255,255,255,0),
    rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}
      .driveClHistTb th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

    .driveClHistTb th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}
   .driveClHistTb td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}
   .driveClHistTb td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

    .driveClHistTb td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}
   .driveClHistTb tr:nth-child(odd) td {
        background: #f1f1f1;
    }
  .driveClHistTb tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

   .driveClHistTb tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}

    .driveClHistTb tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
    }
   .driveClHistTb tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

        .driveClHistTb tbody:hover tr:hover td {
            color: #444;
            text-shadow: 0 1px 0 #fff;
        }

#historyHeader {
    color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}