﻿@{
    ViewBag.Title = "DriverOrders";
}


<!--
    Messages
-->

@Styles.Render("~/Content/sweetalert2")


<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/sweetalert2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/handlebars.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/HandlebarsCustomHelpers.js"></script>
<script type="text/javascript" src="~/Scripts/OperatorCommand/DriverCommand.js"></script>



<div class="main" style="float:right">
    <input id="txtUserName" type="hidden" value="@User.UserName" />
</div>
<button class="btn btn-primary pull-right" id="showform">@Resources.Resource.MessageToOperators</button> <br /><br />

<!--
    End messages
-->



<div class="modal fade" id="Asign">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style=" background-color: #5cb85c; border-color: #4cae4c; color: white;">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <center> <h2 class="modal-title" >@Resources.Resource.TakeOrder</h2> </center>
            </div>
            <div class="modal-body" style="background-color:whitesmoke">
                    <table>
                        <tr class="form-group">
                            <td>
                            <label style="font-size:x-large;">@Resources.Resource.TimeFromOrder</label>
                            </td>
                            <td> 
                                <input type="text" style="background-color:lightgray;" id="timetotravel"/>
                            </td>
                        </tr>
                     </table>
            </div>      
            <div class="modal-footer" style="background-color:whitesmoke">
                <button class="btn btn-success assign" id="assignOrder" type="button" data-dismiss="modal">@Resources.Resource.Confirm</button>
                 <button class="btn btn-danger" type="button" data-dismiss="modal">@Resources.Resource.cancelButton</button>
            </div>
        </div> 
    </div> 
</div>

<div class="modal fade" id="successDriverOrder">
    <div class="modal-dialog modal-md" >
        <div class="modal-content" style="background-color:#006400">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <center> <h1 style="color:aliceblue">@Resources.Resource.ConfirmRequest</h1></center>
            <div class="modal-footer" style="border-color:#006400">
                <button class="btn btn-md pull-right" style="background-color:aliceblue; color:green" data-dismiss="modal">@Resources.Resource.okString</button>
            </div>
    </div>
</div>
    </div>

<div class="modal fade" id="deniedDriverOrder">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #C33030;color: white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <center><h1>@Resources.Resource.DeniedToDriver</h1></center>
            <div class="modal-footer" style="border-color: #C33030">
                <button class="btn btn-md pull-right" style="color:#fff; background-color:#68424A" data-dismiss="modal">@Resources.Resource.okString</button>
            </div>
        </div>
    </div>
</div>



<script id="template-article" type="text/x-handlebars-template">
        {{#each orders}}
        <tr>
            <td>{{PrettifyDate OrderTime}}</td>
            <td>{{PeekPlace}}</td>
            <td>{{DropPlace}}</td>
            <td> <button type="button" class="submitButton btn btn-success sub" id="submitButton{{Id}}" data-orderid="{{Id}}" data-toggle="modal" data-target="#Asign">@Resources.Resource.Confirm</button> </td>
        </tr>      
        {{/each}}
        {{#if newOrder}}
        <tr>
            <td>{{PrettifyDate OrderTime}}</td>
            <td>{{newOrder.PeekPlace}}</td>
            <td>{{newOrder.DropPlace}}</td>
            <td> <button type="button" class="submitButton btn btn-success sub" id="submitButton{{newOrder.Id}}" data-orderid="{{newOrder.Id}}" data-toggle="modal" data-target="#Asign">@Resources.Resource.Confirm</button> </td>
        </tr>
        {{/if}}

</script>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="OperatortbNames" style="text-align:center;">@Resources.Resource.NewOrders</h3>
    </div>

    <table class="table table-hover historyTh">
        <tr>
            <th> @Resources.Resource.OrderTime </th>
            <th> @Resources.Resource.PeekPlace</th>
            <th> @Resources.Resource.DropPlace </th>
            <th> @Resources.Resource.Action</th>
        </tr>
        <tbody id="DrOrder"></tbody>
    </table>
</div>

<script>
    var LocStrings = {
        message: '@Resources.Resource.MessageFromOperator',
        InputYourMessage: '@Resources.Resource.InputYourMessage',
        MessageHasBeenSent: '@Resources.Resource.MessageHasBeenSent'
    }
</script>

    <input type="text" hidden="hidden" id="currentUserId" value="@User.Id" />
    <button type="button" class="btn successDriverOrder" style="display:none" data-toggle="modal" data-target="#successDriverOrder"></button>
    <button type="button" class="btn deniedDriverOrder" style="display:none" data-toggle="modal" data-target="#deniedDriverOrder"></button>

