﻿@model IEnumerable<Model.DTO.OrderDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    GetHistory = '@Url.Action("GetHistory", "DriveClientHistory")';
</script>

<script src="~/Scripts/handlebars.js" type="text/javascript"></script>
<script src="~/Scripts/ClientDrHistory/ClientDrHistory.js"></script>
<script src="~/Scripts/HandlebarsCustomHelpers.js"></script>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 style="text-align:center;">@Resources.Resource.ClientDriveHistory</h3>
    </div>

    <script id="driveHistotyList" type="text/x-handlebars-template">
        <link href="~/Content/BootstrapTb/BootstrapTb.css" rel="stylesheet" />

        <table class="table table-hover">
            <thead>
                <tr class="historyTh">
                    <th>@Resources.Resource.Data</th>
                    <th>@Resources.Resource.PeekPlace</th>
                    <th>@Resources.Resource.DropPlace</th>
                    <th>@Resources.Resource.Runtime</th>
                    <th>@Resources.Resource.Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each objects}}
                <tr>
                    <td>
                        {{PrettifyDate OrderTime}}
                    </td>
                    <td>
                        {{PeekPlace}}
                    </td>
                    <td>
                        {{DropPlace}}
                    </td>
                    <td>
                        {{RunTime}}
                    </td>
                    <td>
                        {{TotalPrice}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

        <h1 hidden id="historyHeader"></h1>
        <div id="content"></div>

</div>




 
