﻿




<style>
    body {
        margin: 0;
        padding: 10px 20px 20px;
        font-family: Arial;
        font-size: 16px;
    }

    #map-container {
        padding: 6px;

        width: 100%;
    }

    #map {
        width: 100%;
        height: 800px;
    }
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">

</script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/DriverLocationHubAndDriverMapScrypts/DriverMapAndHub.js"></script>*@
<script>
    var myId = Number(@Html.Raw(Json.Encode((Session["User"] as Model.DTO.UserDTO).Id)));
    var myName =  @Html.Raw(Json.Encode((Session["User"] as Model.DTO.UserDTO).UserName));
</script>

<div id="map-container">
    <div id="map"></div>
</div>

