﻿@model bool
@using Common.Helpers

@{
	ViewBag.Title = "DistrictPart";
}

<script>
    getCurrentDrvSts = '@Url.Action("GetCurrentDriverStatus", "Driver")';
    getDistricts = '@Url.Action("GetDistricts", "Driver")';

</script>

@Scripts.Render("~/Scripts/coordinates.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/offline.min.js")
@Scripts.Render("~/Scripts/DistrictViewer.js")
@Styles.Render("~/Content/Themes/OfflineJS/offline-theme-default.css")
@Styles.Render("~/Content/Themes/OfflineJS/offline-language-english.css")
<link rel="stylesheet" href="~/Content/AutoParkCustomStyles.css" type="text/css" />

<script>
	var WorkerId = @User.Id;
	var joinToLocation = "@Resources.Resource.Join";
	var currentLocation = "@Resources.Resource.DriverIsHere";
</script>

<div>
	<form method="post" class="form-inline">
		<div class="nonopage-header">
			<h1>@Resources.Resource.Greeting,<small>@User.UserName</small></h1>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">@Resources.Resource.WorkShift</h3>
			</div>
			@*<div class="panel-body">
					<div class="bs-callout bs-callout-primary">
						<h4>@Resources.Resource.DistrictPartHeader1</h4>
						@Resources.Resource.DistrictPartAttention1
					</div>
					<div class="bs-callout bs-callout-warning">
						<h4>@Resources.Resource.DistrictPartHeader2</h4>
						@Resources.Resource.DistrictPartAttention2
					</div>
				</div>*@
			<div class="panel-footer">
				<div class="form-group">
					<input type="hidden" id="Id" value="@User.Id" />
					@{
						if (Model)
						{
							<input type="button" class="btn btn-warning" id="workshift-button" change-btn-id="work_end" value="End workshift" onclick="buttonChangeOnClick()" />
						}
						else
						{
							<input type="button" class="btn btn-success" id="workshift-button" change-btn-id="work_start" value="Start workshift" onclick="checkMainCars()" />
						}
					}
				</div>
				@{
					if (Model)
					{
						<div id="worker-status-group" style="display:inline">
							<div class="form-group">
								<select class="form-control input-sm" name="driverStatus" id="inputDriverStatus" onchange="workerStatusChange()">
									@foreach (var status in Common.Helpers.EnumHelper.GetWorkerStatus())
									{
										<option value="@status.Key">@status.Value</option>
									}
								</select>
							</div>
							@*<input type="button" class="btn btn-info" id="change-status-button" value="change status" onclick="workerStatusChange()" />*@
						</div>
					}
					else
					{
						<div id="worker-status-group" style="display:none">
							<div class="form-group">
								<select class="form-control input-sm" name="driverStatus" id="inputDriverStatus" onchange="workerStatusChange()">
									@foreach (var status in Common.Helpers.EnumHelper.GetWorkerStatus())
									{
										<option value="@status.Key">@status.Value</option>
									}
								</select>
							</div>
							@*<input type="button" class="btn btn-info" id="change-status-button" value="change status" onclick="workerStatusChange()" />*@
						</div>
					}
				}
				<div>
					@{Html.RenderPartial("_CarNotFoundP");}
				</div>
			</div>
			<div class="panel-heading">
				<h3 class="panel-title"> @Resources.Resource.DriversActivity</h3>
			</div>

			<table class="table" id="Districts">

				<tr>
					<th>
						@Resources.Resource.Active
					</th>
					<th>
						@Resources.Resource.DistrictName
					</th>
					<th>
						@Resources.Resource.Action
					</th>
				</tr>
			</table>
		</div>
	</form>
</div>



@Scripts.Render("~/Scripts/DistrictPartButtonScripts.js")