﻿@using Common.Helpers
@model MainSaite.Models.AutoParkViewModel
<div class="modal fade" id="get-car-error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-danger">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-fire" aria-hidden="true">&nbsp;</span>@Resources.Resource.ServerErrorHeader</h4>
			</div>

			<div class="modal-body">
				<p>@Resources.Resource.ServerErrorMessage</p>
			</div>

			<div class="modal-footer">
				@*<button type="button" class="btn btn-info" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;</span>@Resources.Resource.cancelButton
				</button>*@
				<a class="btn btn-danger" data-dismiss="modal">
					<span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>@Resources.Resource.okString
				</a>
			</div>
		</div>
	</div>
</div>