﻿.tarifName{

font-size:large;
}

.tarifCheckBox {
   float:right;
   zoom:4.0;
}

.imgClock {

margin-left:-45px;
margin-top:54px;
}

.Drive {
    font-size:x-large;
    letter-spacing:30px;
    background-color:#BF926B;
    margin-top:20px;
    border-radius:25px;
    font-style:italic;
    margin-bottom:50px;
    
}
  .Dest {

    font-size:x-large;
    letter-spacing:10px;
    background-color:#BF926B;
    margin-top:20px;
    border-radius:25px;
    font-style:italic;
    margin-bottom:50px;
 
}
 
.timeTable{
    margin-top:27px;
    margin-left:-41px;
    color:#5A3E30;
}

#clValidReg{
    color:#B8373A;
    margin-left: 35px;
}

  .hint {
    font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; margin-top:50px;
    }
   .ieDisable {
  margin-top:50px;
    }

#clientPrice  {
color:#421111;
font-size:xx-large;
margin:-47px; 
}


/*Car*/
/*it broke all forms*/
/*
.btform {
    height: 663px;

}

    background-size:cover;
}*/

.regTable #name {
    color: #C1AD94;
    padding-left: 10px;
    font-style: italic;
}

#value {
    background-color: #060503;
    margin-left: 15px;
    color:#C1AD94;
        font-size: small;
  
}

.btn-circle {
    background-image: -webkit-linear-gradient(top, #050307, #050209);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px #040404, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float: left;
    height: 70px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 70px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
    .btn-circle:after {
        color: #040404;
        content: "";
        display: block;
        font-size: 30px;
        height: 30px;
        text-decoration: none;
        text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
        position: absolute;
        width: 30px;
        content: "✔";
        left: 23px;
        top: 20px;
    }

    .btn-circle:hover {
    background-image: -webkit-linear-gradient(top, #050307, #050209);
			background-image: linear-gradient(top, #fff, #f4f1ee);
			color:#0088cc;

    }
    .btn-circle:hover:after{
			color:#BB8438;
			text-shadow:0px 0px 6px #BB8438;
		}
    .btn-circle:active{
			background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}

.regHead {
    color:#C1AD94;
    font-style:italic;
    margin-left: 185px;
        padding-top: 3px;
}

#emailValue {
    background-color: #060503;
        font-size: x-small;
    margin-left: 12px;
       color:#C1AD94;
}