﻿@model Model.DTO.LoginModel

<style>
    .bif input{
        width:200px;
    }
</style>
    <div class="">
        @using (Html.BeginForm("Authentification"))
        {
            <table>
                @Html.ValidationSummary()
                <tr>
                    <td>@Html.TextBoxFor(x => x.UserName, new {@class = "form-control input", @required = true, @minlength = "4", @maxlength = "16", @placeholder = Resources.Resource.log })
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @id = "clValidReg", @minlength = "6" })
                    </td>
                 
                </tr>
                <tr>
                    <td>
                        @Html.PasswordFor(x => x.Password, new {@class = "form-control input", @required = true, @minlength = "6", @placeholder = Resources.Resource.Password})
                        @Html.ValidationMessageFor(x => x.Password, "", new { @id = "clValidReg" })
                    </td>          
                </tr>
                <tr>
                    <td colspan="2" class="login-btn" style="text-align:right;">
                        <input class="btn btn-success"  type="submit" value="@Resources.Resource.Login" style="display:inline; width:102%" />
                    </td>
                </tr>
            </table>
        }
    </div>
