﻿@model IList<Model.District>

<div class="modal fade" id="add-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-success">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>@Resources.Resource.addNewDistrict</h4>
			</div>
			<div class="modal-body">
				<p>@Resources.Resource.enterDistrictName</p>
				<form data-toggle="validator" id="add-district-form" role="form" autocomplete="off" method="post">
					<div class="form-group">
						<h4><input type="text" class="form-control input-lg" placeholder="@Resources.Resource.DistrictName" data-delay="150" minlength="4" pattern="^((([A-Z]){0,1}([a-z]){1,10}([ ]){0,1}[^0-9]){1,4}|(([А-Я]){0,1}([а-я]){1,10}([ ]){0,1}[^0-9]){1,4})" maxlength="30" data-error="@Resources.Resource.DistrictNameError" id="newDistrictName" value="" required /></h4>
						<span class="help-block with-errors"></span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;</span>@Resources.Resource.cancelButton
				</button>
				<button form="add-district-form" role="button" class="btn btn-success" type="button" onclick="validateAddDistrict();">
					<span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>@Resources.Resource.saveButton
				</button>
			</div>
		</div>
	</div>
</div>