﻿@model IList<Model.District>

<div class="modal fade" id="deletedList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-info">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;</span>@Resources.Resource.DeletedDistricts</h4>
			</div>
			<div class="modal-body">
				<form id="deleted-form" class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control input-sm" placeholder="@Resources.Resource.Search" oninput="jsController.searchDeletedDistricts(this.value);" id="searchDeletedDistrictName" value="" />
					</div>
				</form>
				<hr>
				<div class="table-list">
					<div class="table-responsive">
						<table class="table table-striped" id="districtDeletedTable">
							<thead>
								<tr class="info">
									<th>
										<a href="#" class="btn-link" onclick="jsController.sortDeletedDistrictBy('name')">@Resources.Resource.District</a>
									</th>
									<th>
										@Resources.Resource.Action
									</th>
								</tr>
							</thead>
							<tbody>
								<script id="dsDeletedRow" type="text/x-handlebars-template">
									{{#each deleted}}
									<tr>
										<td>
											{{Name}}
										</td>
										<td>
											<a class="btn btn-success" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.restoreDistrict(this)">
												<span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>@Resources.Resource.RestoreDistrict
											</a>
										</td>
									</tr>
									{{/each}}
								</script>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;</span>@Resources.Resource.cancelButton
				</button>
			</div>
		</div>
	</div>
</div>