﻿@model IList<Model.District>
@{
	string username = (Session["user"] as Model.DTO.UserDTO).UserName;
}
@Styles.Render("~/Content/AutoParkCustomStyles.css")
<div>
	<div class="page-header"><h1>@Resources.Resource.Greeting,<small>@username</small></h1></div>
	<div class="panel panel-info">
		<div class="panel-heading"><h3 class="panel-title">@Resources.Resource.Districts</h3></div>
		<div class="panel-body"><img class="img-thumbnail" src="~/Content/Picture/Skyline_new_york_city.jpg" /></div>
		<div class="panel-footer">
			<form id="non-deleted-form" class="form-inline">
				<div class="form-group">
					<a class="btn btn-success" onclick="jsController.addDistrict()"><span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>@Resources.Resource.addString</a>
					<a class="btn btn-warning" onclick="jsController.DistrictBasket(this)"><span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;</span>@Resources.Resource.DistrictBasket</a>
					<input type="text" class="form-control input-sm" placeholder="@Resources.Resource.Search" oninput="jsController.searchDistricts(this.value);" id="searcDhistrictName" value="" />
				</div>
			</form>
		</div>
		<div class="table-list">
			<div id="districtTableResponsive" class="table-responsive">
				<table class="table table-striped" id="districtEditTable">
					<thead>
						<tr class="info">
							<th><a id="carlink" href="#" class="btn-link" onclick="jsController.sortDistrictBy('name')">@Resources.Resource.District</a></th>
							<th>@Resources.Resource.Action</th>
						</tr>
					</thead>
					<tbody>
						<script id="dsEditRow" type="text/x-handlebars-template">
							{{#each items}}
							<tr>
								<td>{{Name}}</td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Resources.Resource.ActionsColumn <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.editItem(this)"><span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;</span>@Resources.Resource.editString</a>
											</li>
											<li role="separator" class="divider"></li>
											<li>
												<a href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.deleteItem(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true">&nbsp;</span>@Resources.Resource.deleteString</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							{{/each}}
						</script>
					</tbody>
				</table>
				@Html.Partial("_DeleteDistrictP", Model)
				@Html.Partial("_EditDistrictP", Model)
				@Html.Partial("_AddDistrictP", Model)
				@Html.Partial("_DeletedListP", Model)
				@Html.Partial("_ErrorDistrictPartial", Model)
			</div>
		</div>
	</div>
</div>
<script>
	var encodedData = @Html.Raw(Json.Encode(Model.ToList()));
	var encodedDeleted = @Html.Raw(Json.Encode(Model.ToList()));
</script>
@Scripts.Render("~/bundles/DistrictCustomScripts")


