﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetVIPStatus</title>
</head>

<body>

    

    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/Scripts/handlebars.min.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/HandlebarsCustomHelpers.js")
    @Scripts.Render("~/Scripts/VipClients.js")


    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="~/Scripts/OperatorCommand/DriverCommand.js"></script>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 style="text-align:center;">@Resources.Resource.SetVIPStatusPage</h3>
        </div>

        <table class="table table-hover">
            <tr>
                <th>@Resources.Resource.UserName </th>
                <th> @Resources.Resource.Setdate</th>
                <th style="width:150px"> @Resources.Resource.Action</th>
            </tr>
            <tbody id="vip"></tbody>
        </table>

        <script id="vip-template" type="text/x-handlebars-template">
            {{#each clients}}
            <tr>
                <td>{{UserName}}</td>

                {{#if Id }}
                <td>{{PrettifyDate SetDate}}</td>
                <td><button class="btn btn-warning btn-block glyphicon glyphicon-remove del" data-idclient="{{Id}}" style="width: 120px">
                        <span> @Resources.Resource.deleteString </span></button> </td>

                {{else}}
                <td></td>
                <td><button class="btn btn-primary btn-block glyphicon glyphicon-ok set" data-idclient="{{UserId}}" style="width: 120px">
                        <span >@Resources.Resource.Set</span></button> </td>
                {{/if}}
            </tr>

            {{/each}}
        </script>
    </div>

    <script>
        getVIPcl = '@Url.Action("GetVipClients", "Settings")';
        setVIPcl = '@Url.Action("SetClientVip", "Settings")';
        delVIPcl = '@Url.Action("DelClientVip", "Settings")';
    </script>

</body>
</html>


